@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', system-ui, sans-serif;
    font-weight: 300;
  }
  
  .font-bold {
    font-weight: 400;
  }
  
  .font-medium {
    font-weight: 300;
  }
  
  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}